<div class="publication-with-teaser">
  <div class="publication-teaser">
    <div class="teaser-container">
      <img src="{{ .Get "image" }}" alt="{{ .Get "title" }} teaser image" class="teaser-image">
      {{ if .Get "video" }}
      <video class="teaser-video" muted loop playsinline>
        <source src="{{ .Get "video" }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {{ end }}
    </div>
  </div>
  <div class="publication-content">
    {{ .Inner | markdownify }}
  </div>
</div>
