{{- $authorIds := .Get "authors" | default "" -}}
{{- $equalContrib := .Get "equal" | default "" -}}
{{- $authors := .Site.Data.authors.authors -}}

<div class="publication-with-teaser">
  <div class="publication-teaser">
    <div class="teaser-container">
      <img src="{{ .Get "image" }}" alt="{{ .Get "title" }} teaser image" class="teaser-image">
      {{ if .Get "video" }}
      <video class="teaser-video" muted loop playsinline>
        <source src="{{ .Get "video" }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      {{ end }}
    </div>
  </div>
  <div class="publication-content">
    {{ if and (.Get "url") (.Get "title") (.Get "venue") (.Get "year") }}
      <h3><a href="{{ .Get "url" }}" target="_blank" rel="noopener noreferrer">{{ .Get "title" }}</a></h3>
      
      {{ if $authorIds }}
      <p class="authors">
        {{- $authorIdList := split $authorIds "," -}}
        {{- $equalContribList := split $equalContrib "," -}}
        
        {{- range $index, $authorId := $authorIdList -}}
          {{- $authorId := trim $authorId " " -}}
          {{- $isEqual := false -}}
          {{- range $equalId := $equalContribList -}}
            {{- if eq (trim $equalId " ") $authorId -}}
              {{- $isEqual = true -}}
            {{- end -}}
          {{- end -}}
          
          {{- if gt $index 0 -}},&nbsp;{{- end -}}
          
          {{- $author := index (where $authors "id" $authorId) 0 -}}
          {{- if $author -}}
            {{- if $author.highlight -}}
              <strong>
                {{- if $author.url -}}
                  <a href="{{ $author.url }}" target="_blank" rel="noopener noreferrer">{{ $author.name }}</a>
                {{- else -}}
                  {{ $author.name }}
                {{- end -}}
              </strong>
            {{- else -}}
              {{- if $author.url -}}
                <a href="{{ $author.url }}" target="_blank" rel="noopener noreferrer">{{ $author.name }}</a>
              {{- else -}}
                {{ $author.name }}
              {{- end -}}
            {{- end -}}
            {{- if $isEqual -}}*{{- end -}}
          {{- else -}}
            {{ $authorId }}
          {{- end -}}
        {{- end -}}
        
        {{- if ne $equalContrib "" -}}
          {{- $note := .Get "note" | default "(*Equal Contribution)" -}}
          {{- printf " %s" $note -}}
        {{- end -}}
      </p>
      {{ end }}
      
      <p class="venue"><em>{{ .Get "venue" }}{{ with .Get "venue-short" }} <strong>({{ . }})</strong>{{ end }}, {{ .Get "year" }}</em></p>
      
      {{ if .Inner }}
        <div class="publication-abstract">
          {{ .Inner | markdownify }}
        </div>
      {{ end }}
    {{ else }}
      {{ .Inner | markdownify }}
    {{ end }}
  </div>
</div>
